.col a
{
	opacity:0;
	cursor:initial;
	display:inline-block;
	border:1px solid red;
}

#Saajor
{
	margin-top:22px;
	margin-left:335px;
	padding:0px 29px 54px;
}

#Nol
{
	margin-top:3px;
	margin-left:609px;
	padding:0px 19px 55px;
}

#Remav
{
	margin-top:3px;
	margin-left:132px;
	padding:22px 22px 33px;
}

#Govorkam
{
	margin-top:-10px;
	margin-left:331px;
	padding:0px 26px 55px;
}

#Heleus
{
	margin-top:-22px;
	margin-left:380px;
	border-radius:50%;
	padding:90px;
}

#Onaon
{
	margin-top:-22px;
	margin-left:60px;
	padding:50px 14px 3px;
}

#Zaubray
{
	margin-top:-200px;
	margin-left:177px;
	padding:34px 30px 20px;
}

#Pytheas
{
	margin-top:-200px;
	margin-left:132px;
	padding:0px 18px 65px;
}

#Zheng
{
	margin-top:-200px;
	margin-left:206px;
	padding:58px 22px 0px;
}

#Eriksson
{
	margin-top:-50px;
	margin-left:443px;
	padding:30px 29px 22px;
}

#Faroang
{
	margin-top:-50px;
	margin-left:533px;
	padding:15px 30px 40px;
}