.col a
{
	opacity:0;
	cursor:initial;
	display:inline-block;
	border:1px solid red;
}

#VhTh
{
	margin-top:12px;
	margin-left:332px;
	padding:14px 75px 22px;
}

#SgCd
{
	margin-left:11px;
	padding:14px 75px;
}

#MnWl
{
	margin-left:148px;
	padding:12px 75px 3px;
}

#SkAb
{
	margin-left:11px;
	padding:12px 75px 12px;
}

#HdNx
{
	margin-top:-4px;
	margin-left:11px;
	padding:25px 75px 20px;
}

#NbEp
{
	margin-top:-4px;
	margin-left:11px;
	padding:25px 75px 11px;
}

#ImFt
{
	margin-left:86px;
	padding:14px 75px 3px;
}

#Mk1
{
	margin-left:-7px;
	margin-right:-7px;
	padding:16px 216px 10px;
}

#AgRh
{
	padding:14px 75px 32px;
}

#AtNb
{
	margin-top:-20px;
	margin-left:38px;
	padding:20px 75px 34px;
}

#Mk2
{
	margin-top:-20px;
	margin-left:-5px;
	padding:25px 238px 32px;
}

#AnBt
{
	margin-top:-20px;
	margin-left:13px;
	padding:0.1px 75px 28px;
}

#NbCt
{
	margin-top:0px;
	margin-left:48px;
	padding:3px 75px 24px;
}

#Mk31
{
	margin-top:-2px;
	margin-left:-7px;
	padding:18px 57px 32px;
}

#HgNb
{
	margin-top:-2px;
	margin-left:-7px;
	padding:18px 73px 26px;
}

#Mk32
{
	margin-top:-2px;
	margin-left:-8px;
	padding:18px 109px 26px;
}

#GmSm
{
	margin-top:-2px;
	margin-left:-5px;
	padding:14px 75px;
}

#SnNb
{
	margin-top:0px;
	margin-left:52px;
	padding:25px 75px 47px;
}

#Mk4
{
	margin-top:-10px;
	margin-left:-7px;
	padding:33px 252px 28px;
}

#HdGm
{
	margin-top:-10px;
	margin-left:-7px;
	padding:35px 75px 18px;
}

#Kg
{
	margin-top:-20px;
	margin-left:115px;
	padding:9px 75px 8px;
}

#Mk5
{
	margin-top:-20px;
	margin-left:-7px;
	padding:35px 205px 17px;
}

#KtNt
{
	margin-top:-20px;
	margin-left:-7px;
	padding:35px 74px 8px;
}

#ApCt
{
	margin-top:-1px;
	margin-left:185px;
	padding:25px 75px 1px;
}

#Mk6
{
	margin-top:-1px;
	margin-left:-7px;
	padding:25px 38px 5px;
}

#AtCl
{
	margin-top:-1px;
	margin-left:-7px;
	margin-bottom:-50px;
	padding:12px 74px 42px;
}

#EdCl
{
	margin-top:-1px;
	margin-left:13px;
	margin-bottom:-50px;
	padding:23px 75px 32px;
}

#AtSt
{
	margin-top:-1px;
	margin-left:270px;
	padding:2px 74px 15px;
}