@font-face
{
	src:url(../font/me123.ttf);
	font-family:MEFont;
}

*
{
	scroll-behavior:smooth;
	font-family:MEFont;
	font-size:12px;
	color:#FFFFFF;
}

body
{
	background-color:#0A0A2A;
	overflow:hidden;
}

header
{
	height:200px;
	width:100%;
}

.Header
{
	float:right;
}

.BG
{
	background-image:url(../img/ME.png);
	background-size:100%100%;
	height:200px;
	width:70%;
}

time
{
	text-align:right;
	font-size:16px;
	color:#0080FF;
	width:15%;
}

main
{	
	margin:0 20%;
	height:710px;
	overflow:auto;
	overflow-x:hidden;
}

article
{
	overflow:hidden;
	height:710px;
	width:100%;
	padding:0;
}

.MM
{
	margin:0;
}

.Map
{
	width:50%;
	padding:0;
	float:left;
}

.OF
{
	overflow:auto;
}

.SN .fa-caret-up, .DropDown .fa-caret-up
{
	display:none;
}

nav
{
	background-color:#0B0B61;
	overflow:hidden;
}

nav a
{
	text-decoration:none;
	padding:14px 16px;
	text-align:center;
	float:left;
	z-index:3;
}

.SN
{
	overflow:hidden;
	float:left;
	z-index:3;
}

.SN .SNButton
{
	background-color:inherit;
	font-family:inherit;
	padding:14px 16px;
	cursor:pointer;
	outline:none;
	border:none;
	z-index:3;
	margin:0;
}

.active, .SN .active, .DropButton .active
{
	background-color:#0B2161;
}

nav a:hover, .SNButton:hover, .SNContent a:hover, 
.DDContent a:hover, .DropButton:hover, .SN .clicked, 
.SNContent .clicked, ::-webkit-scrollbar-thumb:hover
{
	background-color:#00BFFF;
}

.SNContent
{
	background-color:#2E64FE;
	box-sizing:border-box;
	border-color:#0A0A2A;
	border-width:0 8px;
	border-style:solid;
	position:absolute;
	display:none;
	width:100%;
	z-index:3;
	left:0;
}

.SNContent a, .SNContent .DropDown
{
	text-decoration:none;
	float:left;
}

.DDContent
{
	background-color:#151515;
	position:absolute;
	min-width:160px;
	display:none;
	z-index:3;
}

.DDContent a 
{
	text-decoration:none;
	text-align:justify;
	padding:12px 16px;
	display:block;
	float:none;
}

.DropButton 
{
	background-color:inherit;
	font-family:inherit;
	padding:14px 16px;
	cursor:pointer; 
	outline:none;
	border:none;
	margin:0;
}

.show
{
	display:block;
}

iframe
{
	height:100%;
	width:100%;
	padding:0;
	border:0;
}

.col
{
	position:absolute;
	bottom:0;
	right:0;
	left:0;
	top:0;
}

.col a
{
	border:1px solid red;
	position:absolute;
	z-index:2;
	opacity:0;
}

.DDContent .Class
{
	padding-left:45px;
}

.DDContent .Soldier
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/8/80/Soldier-icon.png/revision/latest?cb=20170410084910");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Adept
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/d/de/Adept-icon.png/revision/latest?cb=20170410085029");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Engineer
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/b/bd/Engineer-icon.png/revision/latest?cb=20170410084925");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Vanguard
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/9/9a/Vanguard-icon.png/revision/latest?cb=20170410085041");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Sentinel
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/1/19/Sentinel-icon.png/revision/latest?cb=20180308181131");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Infiltrator
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/8/8f/Infiltrator-icon.png/revision/latest?cb=20170410085051");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .fa
{
	padding-right:5px;
}

.DDContent .fa-caret-down
{
	font-size:18px;
}

.DDContent .red
{
	color:#FF0000;
}

.DDContent .blue
{
	color:#2E2EFE;
}

.DDContent .orange
{
	color:#DBA901;
}

::-webkit-scrollbar
{
	width:10px;
}

::-webkit-scrollbar-track
{
	border-radius:5px;
}

::-webkit-scrollbar-thumb
{
	background-color:#0000FF;
	border-radius:5px;
}

::-webkit-scrollbar-button
{
	background-color:#2E2E2E;
	border-radius:5px;
}
