@font-face
{
	src:url(../font/me123.ttf);
	font-family:MEFont;
}

/*@media only screen and (max-width: 600px) 
{	
	*
	{
		font-size:8px;
	}
	
	main
	{
		left:0;
		width:75%;
		float:left;
	}
	
	.BG
	{
		width:100%;
	}
	
	time
	{
		display:none;
	}
	
	nav
	{
		max-width:25%;
		height:710px;
		float:left;
	}
	
	nav a, nav .SN
	{
		display:block;
	}
	
	nav .SN
	{
		min-width:160px;
		max-width:25%;
		left:25%;
	}
}*/

:root
{
	--main-bg-color:#0A0A2A;
	--color-orange:#DBA901;
	--color-blue:#2E2EFE;
	--main-height:710px;
	--color-red:#FF0000;
}

*
{
	scroll-behavior:smooth;
	font-family:MEFont;
	transition:1s;
	font-size:12px;
	color:#FFFFFF;
}

body
{
	background-color:var(--main-bg-color);
	overflow:hidden;
}

header
{
	height:200px;
	width:100%;
}

.Header
{
	float:left;
}

.BG
{
	background-image:url(../img/ME.png);
	background-size:100%100%;
	position:relative;
	height:200px;
	width:70%;
}

time
{
	position:relative;
	text-align:right;
	font-size:16px;
	color:#0080FF;
	width:15%;
	left:85%;
}

main
{	
	left:20%;
	width:60%;
	overflow:auto;
	position:relative;
	overflow-x:hidden;
	height:var(--main-height);
}

article
{
	height:var(--main-height);
	overflow:hidden;
	width:100%;
	padding:0;
}

.MM
{
	width:100%;
	left:0;
}

.Map
{
	width:50%;
	padding:0;
	float:left;
}

.OF
{
	overflow:auto;
}

.SN .fa-caret-up, .DropDown .fa-caret-up
{
	display:none;
}

nav
{
	background-color:#0B0B61;
	overflow:hidden;
}

nav a
{
	text-decoration:none;
	padding:14px 16px;
	text-align:center;
	float:left;
	z-index:3;
}

.SN
{
	overflow:hidden;
	float:left;
	z-index:3;
}

.SN .SNButton
{
	background-color:inherit;
	font-family:inherit;
	padding:14px 16px;
	cursor:pointer;
	outline:none;
	border:none;
	z-index:3;
	margin:0;
}

.active, .SN .active, .DropButton .active
{
	background-color:var(--color-blue);
}

nav a:hover, .SNButton:hover, .SNContent a:hover, 
.DDContent a:hover, .DropButton:hover, .SN .clicked, 
.SNContent .clicked, ::-webkit-scrollbar-thumb:hover
{
	background-color:#00BFFF;
}

.SNContent
{
	border-color:var(--main-bg-color);
	background-color:#2E64FE;
	box-sizing:border-box;
	border-width:0 8px;
	border-style:solid;
	position:absolute;
	display:block;
	width:100%;
	z-index:-1;
	opacity:0;
	left:0;
}

.SNContent a, .SNContent .DropDown
{
	text-decoration:none;
	float:left;
}

.DDContent
{
	background-color:#151515;
	position:absolute;
	min-width:160px;
	display:block;
	opacity:0;
}

.DDContent a 
{
	text-decoration:none;
	text-align:justify;
	padding:12px 16px;
	display:none;
	float:none;
}

.DropButton 
{
	background-color:inherit;
	font-family:inherit;
	padding:14px 16px;
	cursor:pointer; 
	outline:none;
	border:none;
	margin:0;
}

.show
{
	opacity:1;
	z-index:3;
}

[class="DDContent show"] a
{
	display:block;
}

[class*="clicked"] .fa-caret-down
{
	display:none;
}

[class*="clicked"] .fa-caret-up
{
	display:inline-block;
}

iframe
{
	height:100%;
	width:100%;
	padding:0;
	border:0;
}

.col
{
	position:absolute;
	bottom:0;
	right:0;
	left:0;
	top:0;
}

.col a
{
	border:1px solid red;
	position:absolute;
	z-index:2;
	opacity:0;
}

.DDContent .Class
{
	padding-left:45px;
}

.DDContent .Soldier
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/8/80/Soldier-icon.png/revision/latest?cb=20170410084910");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Adept
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/d/de/Adept-icon.png/revision/latest?cb=20170410085029");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Engineer
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/b/bd/Engineer-icon.png/revision/latest?cb=20170410084925");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Vanguard
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/9/9a/Vanguard-icon.png/revision/latest?cb=20170410085041");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Sentinel
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/1/19/Sentinel-icon.png/revision/latest?cb=20180308181131");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .Infiltrator
{
	background-image:url("https://vignette.wikia.nocookie.net/masseffect/images/8/8f/Infiltrator-icon.png/revision/latest?cb=20170410085051");
	background-repeat:no-repeat;
	background-size:25%100%;
}

.DDContent .fa
{
	padding-right:5px;
}

.DDContent .fa-caret-down
{
	font-size:18px;
}

.DDContent .red
{
	color:var(--color-red);
}

.DDContent .blue
{
	color:var(--color-blue);
}

.DDContent .orange
{
	color:var(--color-orange);
}

::-webkit-scrollbar
{
	width:10px;
}

::-webkit-scrollbar-track
{
	border-radius:5px;
}

::-webkit-scrollbar-thumb
{
	background-color:var(--color-blue);
	border-radius:40%;
}

::-webkit-scrollbar-button
{
	background-color:#2E2E2E;
	border-radius:50%;
}

::-webkit-scrollbar-button:hover
{
	background-color:#202020;
}
