@font-face
{
	src:url(../fonts/me123.ttf);
	font-family:MEFont;
}

#H
{
	background-image:url(../images/ME.png);
	background-repeat:no-repeat;
	background-size:85% 100%;
	margin-left:15%;
	height:170px;
}

#Date
{
	text-align:right;
}

#F
{
	padding-top:0px;
	height:60px;
}

#I
{
	background-image:url(../images/N7.jpg);
	background-size:100% 100%;
}

#SI
{
	background-image:url(../images/MES.jpg);
	background-size:100% 100%;
}

#GI
{
	background-image:url(../images/MEG.jpg);
	background-size:100% 100%;
}

#ATR
{
	margin-left:50px;
	padding-top:20px;
}

#G1
{
	background-image:url(../images/ME1.jpg);
	background-size:100% 100%;
}

#G2
{
	background-image:url(../images/ME2.jpg);
	background-size:100% 100%;
}

#G3
{
	background-image:url(../images/ME3.jpg);
	background-size:100% 100%;
}

#GA
{
	background-image:url(../images/MEA.jpg);
	background-size:100% 100%;
}

body
{
	background-color:#0A0A2A;
}

ul
{
	list-style-type:none;
}

a:hover
{
	color:#58FAF4;
}

a
{
	text-decoration:none;
	color:#FFFFFF;
}

iframe
{
	overflow:hidden;
	overflow-y:hidden;
	height:550px;
	width:100%;
	padding:0;
	margin:0;
	border:0;
}

.NB
{
	background-color:#0B0B61;
	font-family:MEFont;
	overflow: hidden;
}

.NB a
{
	text-decoration: none;
	padding: 14px 16px;
	font-size:12px;
	color:#FFFFFF;
	float: left;
}

.NB a:hover
{
	background-color:#58FAF4;
}

.DropDown
{
	overflow:hidden;
	float:left;
}

.DDContent
{
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color:#151515;
	position:absolute;
	min-width:160px;
	display:none;
	z-index:1;
}

.DDContent a 
{
	text-decoration:none;
	padding:12px 16px;
	font-size:12px;
	display:block;
	color:#0080FF;
	float:none;
}

.DDContent a:hover 
{
	background-color:#151515;
	color:#FFFFFF;
}

.DropButton 
{
	background-color:inherit;
	font-family:inherit;
	padding:14px 16px;
	font-size:12px;
	cursor:pointer;  
	color:#FFFFFF;
	outline:none;
	border:none;
	margin:0;
}

.DropDown:hover .DropButton
{
	background-color:#58FAF4;
}

.show
{
	display:block;
}

.VID
{
	height:550px;
	width:100%;
}

.FP1
{
	overflow:scroll;
	overflow-y:scroll;
	overflow-x:hidden;
	margin-right:20%;
	margin-left:20%;
	height:515px;
	width:60%;
}

.FPF
{
	margin-right:20%;
	margin-left:20%;
	height:515px;
	width:60%;
}

.inframe
{
	overflow:scroll;
	overflow-y:scroll;
	overflow-x:hidden;
	height:555px;
}

.M
{
	height:550px;
}

.Content
{
	font-family:MEFont;
	text-align:justify;
	color:#0080FF;
	padding:20px;
	width:96.8%;
}

.H2, .H4
{
	font-family:MEFont;
	color:#FAFAFA;
}

.H2
{
	text-align:center;
	font-size:50px;
}

.H4
{
	font-size:20px;
}
